<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BluePrismCnv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BluePrismCnv.Properties.Settings>
            <setting name="TabSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value />
            </setting>
            <setting name="ResultFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="BluePrismProjectFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ToolboxXamlFolder" serializeAs="String">
                <value>app_data</value>
            </setting>
            <setting name="CsClassesFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="IsOpenFolderAfterConvert" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ResultTabSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsCleanProjectResultFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCollapsedToDoContainers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsAddStopForToDoContainers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsOuterXmlAsToDoName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ObjectsLibraryFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="VBOFolder" serializeAs="String">
                <value>C:\Program Files\Blue Prism Limited\Blue Prism Automate\VBO</value>
            </setting>
            <setting name="CurrentProcess" serializeAs="String">
                <value />
            </setting>
            <setting name="IsAutoSaveLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExternalDllsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SherpaLibraryFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="VBOFolderForSnippets" serializeAs="String">
                <value />
            </setting>
            <setting name="IsOpenFolderAfterSnippetsGeneration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WizardType" serializeAs="String">
                <value>Convert</value>
            </setting>
            <setting name="AllBluePrismProjectsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="IsOpenFolderAfterDuplicatesMappingGeneration"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Policy" serializeAs="String">
                <value />
            </setting>
        </BluePrismCnv.Properties.Settings>
    </userSettings>
</configuration>